/* The color and images of the background */
body {
	background-color: #AEDDEE;
	background-image: url(images/bg.png);
	background-attachment: fixed;
	background-position: 90% 90%;
	background-repeat: no-repeat;
}
a:link {
	color: #006699;
}
a:visited {
	color: #006699;
}
a:hover {
	color: #FFCC00;
	text-decoration: none;
}
a:active {
	color: #006699;
}
/* The info for the header */
.header {
	border: 1px solid #006699;
	background-color: #E3F3F9;
}
.border {
	border: 1px solid #006699;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #F7FBFD;
}
.bodyfont {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
}
.bodymain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
/* The color of the column "Subject" in the forums
   as well as "The Message" and "Replies" rows when 
   reading the messages */
.subject {
	background-color: #A7C7D6;
	opacity: .6;
	filter: alpha(opacity=60);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
}
/* The color of two of the columns ("By" and "Posted") in the forums */
.light {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	background-color: #E3F3F9;
	opacity: .7;
	filter: alpha(opacity=70);
}
/* The color of two of the columns ("Replies" and "Last Reply") in the forums */
.dark {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	background-color: #A7C7D6;
	opacity: .7;
	filter: alpha(opacity=70);
}
/* The color of the background of the messages in the forum */
.messages {
	background-color: #E3F3F9;
	opacity: .8;
	filter: alpha(opacity=80);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
}