<%@ master language="C#" Inherits="Master" src="default.cs" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<asp:contentplaceholder id="ContentHead" runat="server" />
<body>
<form runat="server" id="TriptychBlog" name="TriptychBlog">
  <div align="center">
    <div id="Container">
      <div id="Header">
        <h1><a href="."><asp:Literal id="Title" runat="server" /></a></h1>
	<h2><asp:Literal id="Description" runat="server" /></h2>
      </div>
      <div id="Nav">
        <ul>
          <li><a href=".">Home</a></li>
          <!--li><a href="#">Add Links Here</a></li-->
        </ul>
      </div>
      <div id="Info"> </div>
      <div id="Content">
        <div id="Main">
          <asp:contentplaceholder id="Content" runat="server"></asp:contentplaceholder>
        </div>
        <div id="Side">
          <ul>
            <li>
              <h2>Latest News <a href="rss.aspx"><img src="images/rss.png" width="14" height="14" border="0" style="vertical-align: text-bottom;" alt="RSS" /></a></h2>
              <ul>
                <asp:Repeater id="Latest" runat="server">
                  <ItemTemplate>
                    <li><a href='Comments.aspx?ArticleId=<%# DataBinder.Eval(Container.DataItem, "ArticleID") %>&amp;ArticleName=<%# DataBinder.Eval(Container.DataItem, "ArticleName") %>' class="SideContent"><%# DataBinder.Eval(Container.DataItem, "ArticleName") %> [<%#DataBinder.Eval(Container.DataItem, "ArticleComments")%>]</a> </li>
                  </ItemTemplate>
                </asp:Repeater>
              </ul>
            </li>
            <li>
              <h2>Archives</h2>
              <ul>
                <asp:Repeater id="Archive" runat="server">
                  <ItemTemplate>
                    <li><a href="./?Month=<%# Default.ToMonth(Container.DataItem.ToString().Substring(0,Container.DataItem.ToString().Length-5)) %>&amp;Year=<%# Container.DataItem.ToString().Substring(Container.DataItem.ToString().Length-4,4) %>"><%# Container.DataItem %></a></li>
                  </ItemTemplate>
                </asp:Repeater>
              </ul>
            </li>
            <li>
              <h2>Categories</h2>
              <ul>
                <asp:Repeater id="Category" runat="server">
                  <ItemTemplate>
                    <li><a href="./?Category=<%# ((System.Xml.XmlNode)Container.DataItem)["item"].InnerText %>"><%# ((System.Xml.XmlNode)Container.DataItem)["item"].InnerText %></a></li>
                  </ItemTemplate>
                </asp:Repeater>
              </ul>
            </li>
            <li>
              <h2>Links</h2>
              <ul>
                <asp:Repeater id="Blogroll" runat="server">
                  <ItemTemplate>
                    <li><a href='<%# ((System.Xml.XmlNode)Container.DataItem)["link"].InnerText %>' class="SideContent"><%# ((System.Xml.XmlNode)Container.DataItem)["title"].InnerText %></a></li>
                  </ItemTemplate>
                </asp:Repeater>
              </ul>
            </li>
          </ul>
        </div>
        <div id="Footer">
          <p>Powered by <a href="http://triptychstudios.net/triptychblog/">TriptychBlog</a> v<asp:Literal id="Version" runat="server" /></p>
        </div>
      </div>
    </div>
  </div>
</form>
</body>
</html>
