<configuration>
  <system.web>
<customErrors mode="Off"/>
<compilation debug="false"/>
<!--    <authentication mode="Forms">
    	<forms loginUrl="login.aspx">
	<credentials passwordFormat="Clear" >
        		<user name="root" password="root"/>
      	</credentials>
	</forms>
    </authentication>
-->
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
</configuration>






