<%@ Master Language="C#" Inherits="Master" src="admin.cs"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<asp:contentplaceholder id="AdminHead" runat="server"></asp:contentplaceholder>
<body>
 <form runat="server" name="Admin" id="Admin">
 <div align="center">
<div id="container">
			<div id="header"><h1><asp:Literal id="Title" runat="server" /> :: Admin</h1></div>
			<div id="navigation">
              <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./AddNews.aspx" title="Add News">Add News</a></li>
				<li><a href="./ManageNews.aspx" title="Edit News">Manage News</a></li>
<li><a href="./Options.aspx" title="Options">Options</a></li>
<li><a href="./Stats.aspx" title="Stats">Stats</a></li>
<li><a href="./Help.aspx" title="Help">Help</a></li>
				<li><a href="./signout.aspx" title="Log Out">Log Out</a></li>
              </ul>
            </div>
			<div id="content"><asp:contentplaceholder id="AdminContent" runat="server"></asp:contentplaceholder></div>
			<div id="footer"><p>
          Copyright (c) <a href="http://triptychstudios.net/triptychblog">TriptychBlog v<asp:Literal id="Version" runat="server" /></a> 2007</p></div>
			  </div>
			  </div>

            </form>
</body>
</html>
