<configuration>
  <system.web>
 <compilation debug="false"/>
<!--    <authentication mode="Forms">
    	<forms loginUrl="login.aspx">
	<credentials passwordFormat="Clear" />
	</forms>
    </authentication>
-->
    <authorization>
      <deny users="?" />
    </authorization>

    <customErrors mode="Off"/>

  </system.web>
</configuration>





